---
- name: Install and configure vsftpd service
  hosts: all

  tasks:
    - name: apt update && apt install vsftpd
      apt:
        name: vsftpd
        state: latest
        update_cache: yes

    - name: Stop Firewall
      service:
        name: ufw
        state: stopped
        enabled: no

    - name: Create user
      user:
        name: user1
        password: $5$oafCgU5Z01lt8.Bu$duS0WGYFH5OJDccwMgTLEBb3VBK7CZW2es2sRLbBK5.

    - name: DenyUsers user1
      lineinfile:
        path: /etc/ssh/sshd_config
        line: "DenyUsers user1"
      register: sshd_config

    - name: Restart SSHD
      service:
        name: sshd
        state: restarted
      when: sshd_config.changed

    - name: Create Folder
      file:
        path: /home/user1/ftp
        state: directory
        owner: nobody
        group: nogroup
        mode: '0555'

    - name: Create files
      file:
        path: /home/user1/ftp/files
        state: directory
        owner: user1
        group: user1

    - name: render /etc/vsftpd.conf
      copy:
        src: vsftpd.conf
        dest: /etc/vsftpd.conf
      register: vsftpd_config

    - name: Restart vsftpd
      service:
        name: vsftpd
        state: restarted
      when: vsftpd_config.changed
